.s_container {
  background: #333333;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: grid;
  grid-template-rows: 51px 40px auto;
}

.s_nav {
  display: flex;
  align-items: center;
}

.s_button_group {
  margin-left: 22px;
}

.s_nav button {
  margin-right: 7px;
  border: 0px;
  box-shadow: none;
  outline: none;
  border-radius: 10px;
  width: 17px;
  height: 17px;
}

.s_nav .close {
  background-color: #fc5753;
  border: 1px solid #df4744;
}

.s_nav .minimize {
  background-color: #fdbc40;
  border: 1px solid #de9f34;
}

.s_nav .maximize {
  background-color: #33c748;
  border: 1px solid #27aa35;
}

.s_menu {
  display: flex;
}

.s_menu .s_button_group {
  width: 210px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s_menu button {
  margin-right: 5px;
  border: 0px;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
}

.s_browser {
  margin-top: 3px;
}

.s_browser .s_dir {
  display: flex;
  align-items: center;  
}

.s_browser button {
  display: flex;
  align-items: center;  
  margin-right: 5px;
  border: 0px;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.s_browser .s_button_icon {
  color: #d6d6d6;
  margin-left: 20px;
}

.s_browser button:hover {
  background-color: #474747;
}

.s_browser a {
  color: #d6d6d6;
  font-weight: 600;
  margin-left: 9px;
  font-size: 16px;
}

.s_browser .s_button_ddir {
  color: #d6d6d6;
  margin-left: 10px;
}

.s_browser .s_button_ddir a {
  
}