.s_container {
  background: #2d2d2d;
  height: 100%;
  /* border-bottom-left-radius: 10px; */
  /* border-top-left-radius: 10px; */
  display: grid;
  grid-template-rows: 34px 38px auto;
}

.s_nav {
  display: flex;
  align-items: center;
  background-color: #232425;
}

.s_button_group {
  margin-left: 10px;
}

.s_nav button {
  margin-right: 7px;
  border: 0px;
  box-shadow: none;
  outline: none;
  border-radius: 10px;
  width: 15px;
  height: 15px;
}

.s_nav .close {
  background-color: #fc5753;
  border: 1px solid #df4744;
}

.s_nav .minimize {
  background-color: #fdbc40;
  border: 1px solid #de9f34;
}

.s_nav .maximize {
  background-color: #33c748;
  border: 1px solid #27aa35;
}

.s_menu {
  display: flex;
  border-bottom: 1px solid #5f5e5f;
  border-right: 1px solid #5f5e5f;
}

.s_menu .s_button_group {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s_menu button {
  margin-right: 5px;
  border: 0px;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  width: 27px;
  height: 27px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* STATUS BAR WITH INFO TEXT */

.s_status_bar {
  border-bottom: 1px solid #5f5e5f;
  border-right: 1px solid #5f5e5f;
  /* border-bottom-right-radius: 10px; */
}

.s_status_field {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.s_status_bar a {
  font-size: 15px;
  color: #7c7c7c;
}

/* CONTENT OF SIDEBAR */

.s_browser {
  margin-top: 0px;
  border-right: 1px solid #5f5e5f;
}

.s_browser .s_dir {
  display: flex;
  align-items: center;  
}

.s_browser button {
  display: flex;
  align-items: center;  
  margin-right: 5px;
  border: 0px;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.s_browser .s_button_icon {
  color: #d6d6d6;
  margin-left: 5px;
}

.s_browser button:hover {
  background-color: #474747;
}

.s_browser a {
  color: #fff;
  margin-left: 9px;
  font-size: 16px;
}

.s_browser .s_button_ddir {
  color: #717171;
  margin-left: 30px;
}

/* NO DIR OPENED */
.s_no_dir {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s_no_dir a {
  color: #7a7a7a;
  font-weight: lighter;
}